.dn{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
.sega{
    
    margin-top: 4%;
    height: 1000px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin-left: 5%; 
    margin-right: 5%;
    margin-bottom: 5%; 
}
.menu {
    left: 0%;
    top: 0%;
    position: fixed;
	width: 100%;
	display: table;
}
.menu ul {
    
	display: table-row;
}
.menu li {
    height: auto;
    width: 100px;
	display: table-cell;
	position: relative;
	background: #94a9d2;
}
.menu li a {
    text-decoration: none;
	display: block;
	padding: 10px 10px;
	color: rgb(42, 40, 40);
	text-align: center;
    height: 30px;
    font-weight: lighter;
    
}
.menu-caret:after {  /**Стрелка**/
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-bottom: 0;
	border-left: 5px solid transparent;
}
.menu a:hover {
	background: rgb(68, 68, 255);   
}
.menu li:hover ul  {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	background: #3e3e3e;
	margin: 0;
	padding: 0px 0px;
	width: 0px;
	z-index: 9999;
}
.menu ul ul  {
	display: none;
    
}
.menu ul ul li  { /**Список тем**/
	display: block;
	background: #94a9d2;
	padding: 0px 0;
    height: 30x;
    width: 225px;
}

.menu ul ul li a  { /**Список тем**/
	display: block;
	padding: 5px 10px;
	background: #94a9d2;
	text-align: center;
}   
    
.menu ul ul li a:hover{
    color: white;
}
.menu ul li:hover{
    color: #3e3e3e;
}
li{
    font-size: 20px;
}
@font-face {
	font-family: 'Cabana';
	src: url(../css/07f978c4910efe43c0afdc4fab8cc2e5/fonts/cabana.woff2) format('woff2')
		url(../css/ff25d11bde1d4b0c518461514847220b/fonts/appetite-italic.woff) format('woff')
	
}
h1{
    font-family: 'Cabana', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.pl a{
    text-decoration: none;
    color: black;
}
.pl a:hover{
    color: cornflowerblue;
}


.p a{
    width: 250px;
    height: 30px;
    margin-right: 0px;
}
.p a:hover{
    color: #3e3e3e;
}
.header-logo{
    width: 150px;
    height: 20px;
    
}
.der{
    background-color: cornflowerblue;
    height: 300px;
    width: 40%;
    transition-duration:  0.5s;
    
}

.der:hover{
    background-color: rgb(16, 99, 255);
    width: 100%;
}
.hp{
    float: left;
    
    font-size: 50px;
    margin-top: 0%;
    
}
.op{
    color: cornflowerblue;
    font-size: 30px;
}
.il{
    height: 100px;
    width: 500px ;
    float: left;
    padding-right: 20%;
    margin-top: 80px;
    margin-left: 10px;
}
.footer{
    height: 100px;
    width: 100%;  
    background-color: rgb(0, 0, 0);  
    text-align: center;
    margin-top: 0%;
    
}
.bottom{ /** Слова внизу**/
    color: rgb(255, 255, 255);
    font-size: larger;
}


